<div class="row">
    <div class="col-xs-6">
        <div class="row">
            <div class="col-xs-6">
                <div class="pull-left">
                    <div class="messageName">
                        {{from}}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="pull-left">
                    <div class="received">
                        <div class="messageHolder" popover-placement="top" uib-popover="{{filteredTime}}" popover-trigger="mouseenter">
                            {{message}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>